/* Meta style for Assignment part 1 */ 

body {
	color:white; 
	background-color:black;
	background: url(../images/restaurant-CC.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	margin-left: 1cm;
	background-attachment: fixed;
	font-family: sans-serif;
	font-size: 12px;
	}

div{
	border-radius: 15px 50px;
}

h1 {
	text-decoration:underline;
	text-align:center;
	}
	
h2 {
    font-style:italic;
    text-align:center;
	}
address {
	font-style:italic;font-weight:900;
	}
a:visited {
	color:rgb(185, 219, 31);
	}

span{
	font-size: 18px;
}

a:hover {
	color:rgb(118, 29, 201);
	font-size: 20px;
}

img{
	position: relative;
}

p {
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 1%;
	margin-right: 1%;
	text-align: center;
	font-size:14px;
	
}

ul {
	list-style-position: inside;
	text-align: left;
	list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

li a {
    display: block;
    color: #E0A8A8;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

.active {
    background-color: #4CAF50;
    color: white;
}

img {
	border-radius: 8px;
	max-width: 100%;
	height: auto;
	border-color: white;
	margin: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.displayed {
	display: block;
	height: auto;
	width: auto;
	border-radius: 25% 15%;
	margin: auto;
}

#Navigation {
	text-align: center;
	display: inline-block;
	top:5%;
	bottom:5%;
	width: 10%;
	padding-top: 10%;
	padding-bottom: 10%;
	position: fixed;
	margin-right: 10%;
	background-color:rgba(50, 50, 50, 0.5);
}

#Japanese, #Indian, #Italian, #Ethiopian, #Uruguayan, #About, #Form, #Contact, #Header {
	background-color:rgba(50, 50, 50, 0.5);
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 3%;
	margin-top: 2%;
	margin-bottom: 2%;
}

#OtherElementsContainer{
	margin-left: 12%;
	position: absolute;
	top: 2%;
	width:82%;
	display: inline-block;
}

#Form {
	text-align: left;
}

#Footer{
	text-align: center;
}
select{
	top: 2%;
	left: 20%;
	position: relative;
}

label{
	top: 2%;
	position: relative;
	z-index: auto;
	align-self: center;
}

input{
	position: relative;
	left: 20%;
	top: 2%;
	z-index: auto;
	align-items: center;
}